@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown-container">
        <div class="user-info">
            <a class="nav-link custom-text" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Hej @User.Identity?.Name!
            </a>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link custom-button">Logga ut</button>
            </form>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link custom-text" asp-area="Identity" asp-page="/Account/Register">Registera konto</a>
    </li>
    <li class="nav-item">
        <a class="nav-link custom-text" asp-area="Identity" asp-page="/Account/Login">Logga in</a>
    </li>
}
</ul>