@page
@model IndexModel
@{
    ViewData["Title"] = "Hantera profil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="container">
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="d-flex justify-content-center">
        <div class="w-100" style="max-width: 600px;"> <!-- maxbredd -->
            <h4>@ViewData["Title"]</h4>
            <hr />
            <form id="profile-form" method="post" class="mt-3">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Username" class="form-control" placeholder="Ange din e-postadress." disabled />
                    <label asp-for="Username" class="form-label">Användarnamn</label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Ange ditt telefonnummer." />
                    <label asp-for="Input.PhoneNumber" class="form-label">Telefonnummer</label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Spara</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}