@{
    ViewData["Title"] = "Sidan finns inte";
}

<div style="text-align: center; margin-top: 50px;">
    <h2>Sidan du försökte nå finns inte.</h2>
    <p style="font-style: italic;">Det verkar som att du följde en ogiltig länk eller angav en felaktig adress.</p>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Gå till startsidan</a>
</div>