@model LUXLocks_projekt.Models.AppointmentModel

@{
    ViewData["Title"] = "Create";
}

<h2>Boka din tid hos oss</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppointmentDate" class="control-label"></label>
                <input asp-for="AppointmentDate" class="form-control" />
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" placeholder="Skriv ditt fullständiga namn"/>
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Skriv ditt telefonnummer" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Skriv din epostadress" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StylistModelId" class="control-label"></label>
                <select asp-for="StylistModelId" class ="form-control" asp-items="ViewBag.StylistModelId">
                    <option value="" disabled selected>Välj utövare</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="TreatmentModelId" class="control-label"></label>
                <select asp-for="TreatmentModelId" class ="form-control" asp-items="ViewBag.TreatmentModelId">
                    <option value="" disabled selected>Välj behandling</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="HairLength" class="control-label"></label><br>
                <span class="text-muted fst-italic">
                    Fyll i kort, mellan, långt eller mycket långt. Om du tvekar mellan två längder, välj den längre.
                </span>
                <input asp-for="HairLength" class="form-control" placeholder="t.ex. Mycket långt" />
                <span asp-validation-for="HairLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HairType" class="control-label"></label><br>
                <span class="text-muted fst-italic">
                    Fyll i tunt, normalt, tjockt eller mycket tjockt. Om du tvekar mellan två tjocklekar, välj det tjockare.
                </span>
                <input asp-for="HairType" class="form-control" placeholder="t.ex. Mycket tjockt" />
                <span asp-validation-for="HairType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalInfo" class="control-label"></label>
                <textarea asp-for="AdditionalInfo" class="form-control" placeholder="Meddelande..." rows="4"></textarea>
                <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SilentTreatment" /> @Html.DisplayNameFor(model => model.SilentTreatment)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Boka" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
