html {
  position: relative;
  min-height: 100%;
  font-size: 15px;
}

header {
  font-size: 18px;
}

body {
  background-color: #f6f6f6;
  line-height: 2em;
}

li {
  line-height: 2.5em;
}

.navbar-nav .nav-item {
  margin-right: 1px;
}

/* custom-theme för header och footer */
.custom-theme {
  background-color: #ffdbe1;
}

/* custom btn för knappar på startsidan */
.custom-btn {
  background-color: #ffdbe1;
  color: black;
  border: 1px solid #808080;
}

.custom-btn:hover {
  background-color: #f3a7b4;
  color: black;
  border: 1px solid #808080;
}

/* custom storlek för btn */ 
.btn-md {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.custom-text-header {
  font-size: 16px;
}

.custom-text,
.custom-button {
  font-size: 15px;
  font-weight: bold;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

/* aktiv länk */
.navbar-nav .nav-link.active {
  font-weight: bold;
}

footer {
  background-color: #ffdbe1;
  text-align: center;
  padding: 40px;
}

footer a:hover {
  text-decoration: underline !important;
}

footer a {
  text-align: center !important;
}

footer p {
  line-height: 1.4em !important;
}

.footer-logo {
  width: 150px;
  transition: transform 0.3s ease-in-out;
}

.footer-logo:hover {
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .footer-logo {
    width: 120px !important;
  }
}


