html {
  position: relative;
  min-height: 100%;
  font-size: 15px;
}

header {
  font-size: 18px;
}

body {
  margin-bottom: 60px;
  background-color: rgb(246, 246, 246);
}

.custom-theme {
  background-color: #ffdbe1;
}