@model LUXLocks_projekt.Models.StylistModel

@{
    ViewData["Title"] = "Redigera personal";
}

<h2>Redigera</h2>
<p class="text-muted fst-italic">
    Stäm alltid av med ansvarig innan du gör några ändringar.
</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ImageName" /> <!-- behåll den gamla bilden om ingen ny laddas upp-->

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Bio" class="control-label"></label>
                <textarea asp-for="Bio" class="form-control"></textarea>
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>

            <!-- Nuvarande bild -->
            <div class="form-group">
                <label class="control-label">Nuvarande bild</label>
                <br>
                <img src="~/images/thumb_@Model.ImageName" alt="personalbild" />
            </div>

            <!-- Ny bilduppladdning -->
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label">Ladda upp en ny bild</label>
                <input type="file" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Spara ändringar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka till personal</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}